.button {
  padding: 10px 20px;
  background: var(--blue-accent);
  color: var(--text-main);
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.button:hover {
  opacity: 0.8;
}