.protfolio {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 600px) {
  .protfolio {
    padding: 0 14px;
  }
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  min-height: 0;
  border: none;
  letter-spacing: 0;
}

@media screen and (max-width: 600px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }
}

.portfolio__list {
  width: 100%;
  margin: 50px 0 125px;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .portfolio__list {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__list {
    margin: 40px 0 70px;
  }
}


.portfolio__item:not(:last-of-type)::after {
  box-sizing: border-box;
  content: "";
  display: block;
  border-top: 1px solid #424242;
  margin: 19px 0;
}

@media screen and (max-width: 1000px) {
  .portfolio__item:not(:last-of-type)::after {
    border-top-color: #E6E6E6;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__item:not(:last-of-type)::after {
    margin-bottom: 20px;
  }
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: var(--text-main);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

@media screen and (max-width: 1000px) {
  .portfolio__link {
    font-weight: 400;
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__link:hover {
  opacity: 0.8;
}

.portfolio__link::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "↗";
}