:root {
  --background: #202020;
  --green-accent: #3DDC84;
  --blue-accent: #4285F4;
  --red-accent: #EE3465;
  --text-main: #FFFFFF;
  --text-black: #000000;
  --text-grey: #8B8B8B;
  --line-grey: #424242;

  --hover-duration: 0.15s;
  --hover-btn-opacity: 0.8;
  --hover-link-opacity: 0.7;
}

body {
  background: var(--background);
  min-width: 320px;
}

.link {
  text-decoration: none;
  transition: opacity var(--hover-duration) linear;
  cursor: pointer;
}

.link:hover {
  opacity: var(--hover-link-opacity);
}

@import url('./vendor/normalize.css');
@import url('./vendor/fonts/inter.css');